[Desktop Entry]
Encoding=UTF-8
ServiceTypes=application/x-rpm
Icon=rpm
Name=RPM Operations Tool
Name[fr]=Outils d'opérations pour RPM
Name[pl]=Działania na RPM
Name[pt_PT]=Ferramenta de Operações RPM
Name[tr]=RPM İşlemleri Aracı
Name[uk]=Засіб для виконання дій з RPM
Comment=Servicemenus for RPM Package operations
Comment[fr]=Servicemenus pour les opération sur la paquet RPM
Comment[pl]=Menu kontekstowe dla działań na pakietach RPM
Comment[pt_PT]=Menus de serviços para as operações do Pacote RPM
Comment[tr]=RPM Paketi işlemleri için hizmet menüleri
Comment[uk]=Службові меню для виконання дій з пакунками RPM
X-DBUS-ServiceType=Unique;
X-DCOP-ServiceType=Unique;
OnlyShowIn=KDE;
X-KDE-Priority=TopLevel
X-KDE-Submenu-Icon=rpm
X-KDE-Submenu[tr]=RPM İşlemleri
Actions=maininfo;showcontents;unpack;unpackto;openurl;testinstall;forceinstalltest;install;admin;

[Desktop Action maininfo]
Name=Show package information
Name[fr]=Afficher les informations sur le paquet
Name[pl]=Pokaż informacje o pakiecie
Name[pt_PT]=Mostrar informação do pacote
Name[tr]=Paket bilgilerini göster
Name[uk]=Показати дані щодо пакунка
Icon=rpm
Exec=tuncel maininfo %F

[Desktop Action showcontents]
Name=Show package contents
Name[fr]=Afficher le contenu du paquet
Name[pl]=Pokaż zawartość pakietu
Name[pt_PT]=Mostrar os conteúdos do pacote
Name[tr]=Paket içeriğini göster
Name[uk]=Показати вміст пакунка
Icon=rpm
Exec=tuncel showcontents %F

[Desktop Action unpack]
Name=Extract package here
Name[fr]=Extraire le paquet ici
Name[pl]=Wypakuj pakiet tutaj
Name[pt_PT]=Extrair aqui o pacote
Name[tr]=Paketi buraya aç
Name[uk]=Видобути пакунок сюди
Icon=rpm
Exec=tuncel unpack %F

[Desktop Action unpackto]
Name=Extract package to...
Name[fr]=Extraire la paquet vers ...
Name[pl]=Wypakuj pakiet do...
Name[pt_PT]=Extrair o pacote para ...
Name[tr]=Paketi başka dizine aç...
Name[uk]=Видобути пакунок до…
Icon=rpm
Exec=tuncel unpackto %F

[Desktop Action openurl]
Name=Open package source homepage
Name[fr]=Ouvrir la page d'accueil du projet
Name[pl]=Odwiedź stronę domową 
Name[pt_PT]=Abrir a página principal da fonte do pacote
Name[tr]=Paket kaynağı ana sayfasını aç
Name[uk]=Відкрити домашню сторінку пакунка
Icon=rpm
Exec=tuncel openHomepage %F

[Desktop Action testinstall]
Name=Test package installation
Name[fr]=Tester l'installation du paquet
Name[pl]=Testuj instalację pakietu
Name[pt_PT]=Testar a instalação do pacote
Name[tr]=Paket kurulumunu sına
Name[uk]=Перевірити можливість встановлення пакунка
Icon=rpm
Exec=tuncel testinstall %F

[Desktop Action forceinstalltest]
Name=Test forcing package overwrite
Name[fr]=Test l'écrasement de force du paquet
Name[pl]=Testuj nadpisanie pakietu
Name[pt_PT]=Testar o forçar da substituição do pacote
Name[tr]=Paket üzerine yazma zorlamasını sına
Name[uk]=Перевірити можливість примусового встановлення пакунка
Icon=rpm
Exec=tuncel forceinstalltest %F

[Desktop Action install]
Name=Install Source RPM
Name[fr]=Installer le RPM source
Name[pl]=Instaluj źródłowy RPM
Name[pt_PT]=Instalar RPM Fonte
Name[tr]=Kaynak RPM Kurulumu
Name[uk]=Встановити RPM з початковим кодом
Icon=rpm
Exec=tuncel installsrc %F

[Desktop Action admin]
Name=Open a shell
Name[fr]=Ouvrir un shell
Name[pl]=Otwórz terminal
Name[pt_PT]=Abrir uma 'shell'
Name[tr]=Bir kabuk aç
Name[uk]=Відкрити вікно командної оболонки
Icon=rpm
Exec=tuncel terminal %d

##eof
