[Desktop Entry]
Encoding=UTF-8
ServiceTypes=application/x-rpm
Icon=rpm
Name=RPM Operations Tool
Comment=Servicemenus for RPM Package operations
X-DBUS-ServiceType=Unique;
X-DCOP-ServiceType=Unique;
OnlyShowIn=KDE;
X-TDE-Priority=TopLevel
X-KDE-Submenu=RPM Operations
X-TDE-Submenu-Icon=rpm
X-TDE-Submenu[tr]=RPM İşlemleri
Actions=maininfo;showcontents;unpack;unpackto;openurl;testinstall;forceinstalltest;install;admin;

[Desktop Action maininfo]
Name=Show package information
Icon=rpm
Exec=tuncel maininfo %F

[Desktop Action showcontents]
Name=Show package contents
Icon=rpm
Exec=tuncel showcontents %F

[Desktop Action unpack]
Name=Extract package here
Icon=rpm
Exec=tuncel unpack %F

[Desktop Action unpackto]
Name=Extract package to...
Icon=rpm
Exec=tuncel unpackto %F

[Desktop Action openurl]
Name=Open package source homepage
Icon=rpm
Exec=tuncel openHomepage %F

[Desktop Action testinstall]
Name=Test package installation
Icon=rpm
Exec=tuncel testinstall %F

[Desktop Action forceinstalltest]
Name=Test forcing package overwrite
Icon=rpm
Exec=tuncel forceinstalltest %F

[Desktop Action install]
Name=Install Source RPM
Icon=rpm
Exec=tuncel installsrc %F

[Desktop Action admin]
Name=Open a shell
Icon=rpm
Exec=tuncel terminal %d

##eof
