[Desktop Entry]
Type=Action
Name=Show RPM Contents
Name[tr]=RPM İçeriğini Göster
Icon=view-list-symbolic
ToolbarLabel=Show RPM Contents
ToolbarLabel[tr]=RPM İçeriğini Göster
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name=Default profile
Name[tr]=Default profile
Exec=/usr/bin/tuncel showcontents %f
MimeTypes=application/x-rpm;application/x-source-rpm;
