[Desktop Entry]
Type=Action
Name=Show RPM General Info
Name[tr]=RPM Bilgilerini Göster
Icon=info
ToolbarLabel=Show RPM General Info
ToolbarLabel[tr]=RPM Bilgilerini Göster
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name=Default profile
Name[tr]=Default profile
Exec=/usr/bin/tuncel maininfo %f
MimeTypes=application/x-source-rpm;application/x-rpm;
