[Desktop Entry]
Type=Action
Icon=web-browser
Icon[tr]=web-browser
ToolbarLabel=Opens project page of application in a web browser
Name=Open package source homepage
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=application/x-rpm;application/x-source-rpm;
Exec=/usr/bin/tuncel openHomepage %f
Name=Default profile
