[Desktop Entry]
Type=Action
Name=Show package contents
Icon=view-list-symbolic
ToolbarLabel=Displays a list of package content
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name=Default profile
Exec=/usr/bin/tuncel showcontents %f
MimeTypes=application/x-rpm;application/x-source-rpm;
