[Desktop Entry]
Type=Action
Icon=rpm
ToolbarLabel=Checks whether forced package overwrite is successful
Name=Test forcing package overwrite
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=application/x-rpm;application/x-source-rpm;
Exec=/usr/bin/tuncel forceinstalltest %f
Name=Default profile
