[Desktop Entry]
Type=Action
Icon=tar
ToolbarLabel=Extracts package content into current directory
ToolbarLabel[el]=Εξαγωγή των περιεχομένων του πακέτου στον τρέχων κατάλογο
ToolbarLabel[es]=Extraer el contenido del paquete en el directori actual
ToolbarLabel[fr]=Extrait le contenu du paquet dans le répertoire courant
ToolbarLabel[pl]=Wypakowuje zawartość pakietu do katalogu bieżącego
ToolbarLabel[pt_PT]=Extrai o conteúdo do pacote na diretoria atual
ToolbarLabel[tr]=Paket içeriğini geçerli dizine ayıklar
ToolbarLabel[uk]=Видобути вміст пакунка до поточного каталогу
Name=Extract package here
Name[el]=Εξαγωγή του πακέτου εδώ
Name[es]=Extraer paquete aquí
Name[fr]=Extraire le paquet ici
Name[pl]=Wypakuj pakiet tutaj
Name[pt_PT]=Extrair aqui o pacote
Name[tr]=Paketi buraya aç
Name[uk]=Видобути пакунок сюди
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=application/x-rpm;application/x-source-rpm;
Exec=/usr/bin/tuncel unpack %f
Name=Default profile
Name[el]=Προκαθορισμένο προφίλ
Name[es]=Perfil por defecto
Name[fr]=Profil par défaut
Name[pl]=Domyślny profil
Name[pt_PT]=Perfil Predefinido
Name[tr]=Varsayılan profil
Name[uk]=Типовий профіль
