[Desktop Entry]
Type=Action
Icon=web-browser
Icon[tr]=web-browser
ToolbarLabel=Opens project page of application in a web browser
ToolbarLabel[el]=Άνοιγμα της ιστοσελίδας έργου της εφαρμογής στον περιηγητή ιστού 
ToolbarLabel[es]=Abrir la página del proyecto del paquete en una navegador
ToolbarLabel[fr]=Ouvre la page du projet de l'application dans un navigateur Internet
ToolbarLabel[pl]=Otwiera stronę domową aplikacji w przeglądarce www
ToolbarLabel[pt_PT]=Abre a página do projeto da aplicação num navegador da web
ToolbarLabel[tr]=Uygulama proje sayfasını bir web tarayıcısında açar
ToolbarLabel[uk]=Відкрити сторінку проекту програми у програмі для перегляду інтернету
Name=Open package source homepage
Name[el]=Άνοιγμα της ιστοσελίδας του πακέτου
Name[es]=Abri la página web del paquete fuente
Name[fr]=Ouvrir la page d'accueil du projet
Name[pl]=Otwórz stronę domową pakietu
Name[pt_PT]=Abrir a página principal da fonte do pacote 
Name[tr]=Paket kaynağı ana sayfasını aç
Name[uk]=Відкрити домашню сторінку пакунка
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=application/x-rpm;application/x-source-rpm;
Exec=/usr/bin/tuncel openHomepage %f
Name=Default profile
Name[el]=Προκαθορισμένο προφίλ
Name[es]=Perfil por defecto
Name[fr]=Profil par défaut
Name[pl]=Domyślny profil
Name[pt_PT]=Perfil Predefinido
Name[tr]=Varsayılan profil
Name[uk]=Типовий профіль
