[Desktop Entry]
Type=Action
Name=Show package information
Icon=info
ToolbarLabel=Displays useful information about package
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name=Default profile
Exec=/usr/bin/tuncel maininfo %f
MimeTypes=application/x-source-rpm;application/x-rpm;
