[Desktop Entry]
Type=Action
Icon=rpm
ToolbarLabel=Tests whether package installation is successful.
Name=Test package installation
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=new-filter;application/x-source-rpm;
Exec=/usr/bin/tuncel testinstall %f
Name=Default profile
