[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-rpm;
Icon=application-x-rpm
Name=RPM Tool
Name[de]=RPM Werkzeug
Name[it]=RPM Tools
Name[tr]=RPM Araçları
Comment=xdg rpm tools
Comment[de]=xdg rpm werkzeug
Comment[it]=xdg rpm utensile
Comment[tr]=xdg rpm araçları
Actions=maininfo;showcontents;unpack;unpackto;openurl;testinstall;forceinstalltest;install;admin;
Author=http://www.kde-apps.org/usermanager/search.php?username=undefined
X-KDE-Priority=TopLevel
X-KDE-Submenu=RPM Tool...
X-KDE-Submenu[de]=RPM Werkzeug...
X-KDE-Submenu[it]=RPM utensile...
X-KDE-Submenu-Icon=application-x-rpm

[Desktop Action maininfo]
Name=Show General Info
Name[de]=Zeige Hauptinformationen
Name[it]=Info Generali
Name[tr]=Genel Bilgileri Göster
Icon=application-x-rpm
Exec=tuncel maininfo %F

[Desktop Action showcontents]
Name=Show Package Contents
Name[de]=Zeige Paket Inhalt
Name[it]=Visualizza il Contenuto del Pacchetto
Name[tr]=Paket İçeriğini Göster
Icon=application-x-rpm
Exec=tuncel showcontents %F

[Desktop Action unpack]
Name=Unpack Package In This Directory
Name[de]=Paket hier Entpacken
Name[it]=Decomprimi in questa Cartella
Name[tr]=Paketi Bu Dizine Aç
Icon=application-x-rpm
Exec=tuncel unpack %F

[Desktop Action unpackto]
Name=Unpack Package To Directory
Name[de]=Paket in Verzeichnis Entpacken
Name[it]=Decomprimi in una Cartella
Name[tr]=Paketi Başka Dizine Aç
Icon=application-x-rpm
Exec=tuncel unpackto %F

[Desktop Action openurl]
Name=Open Project Homepage
Name[de]=Öffne Projekt Homepage
Name[it]=Apri l'Homepage
Name[tr]=Proje Ana Sayfasını Aç
Icon=application-x-rpm
Exec=tuncel openHomepage %F

[Desktop Action testinstall]
Name=Install Check
Name[de]=Installation Testen
Name[it]=Test Installazione
Name[tr]=Kurulumu Sına
Icon=application-x-rpm
Exec=tuncel testinstall %F

[Desktop Action forceinstalltest]
Name=Install Force Overwrite Check
Name[de]=Installation Überschreiben Testen
Name[it]=Forza Test Installazione
Name[tr]=Kurulumda Üzerine Yazma Sınaması
Icon=application-x-rpm
Exec=tuncel forceinstalltest %F

[Desktop Action install]
Name=Install RPMS Sources To Local
Name[de]=RPM-Sourcen Lokal Installieren
Name[it]=Installa il Sorgente RPM
Name[tr]=RPM Kaynak Paketini Yerele Kur
Icon=application-x-rpm
Exec=tuncel installsrc %F

[Desktop Action admin]
Name=Open A Shell
Name[de]=Öffne Konsole
Name[it]=Avvia una Shell
Name[tr]=Bir Kabuk Aç
Icon=application-x-rpm
Exec=tuncel terminal %d

##eof
